name: Assignment 1 - Self-hosted tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: [self-hosted, Linux, X64]
    timeout-minutes: 10
    steps:
      - name: Print runner info
        run: |
          whoami
          hostname
          pwd
          git --version

      - name: Run tests from existing checkout
        run: |
          chmod +x ./full-test.sh ./unit-test.sh ./finder-app/writer.sh ./finder-app/finder.sh || true
          timeout 300s ./full-test.sh
